[submodule "threadx"]
	path = threadx
	url = https://github.com/azure-rtos/threadx.git
[submodule "filex"]
	path = filex
	url = https://github.com/azure-rtos/filex.git
[submodule "netxduo"]
	path = netxduo
	url = https://github.com/azure-rtos/netxduo.git
[submodule "lwjson"]
	path = lwjson
	url = https://github.com/MaJerle/lwjson.git
[submodule "FlashDB"]
	path = FlashDB
	url = https://github.com/tinic/FlashDB.git
[submodule "stm32h5xx_hal_driver"]
	path = stm32h5xx_hal_driver
	url = https://github.com/STMicroelectronics/stm32h5xx_hal_driver.git
